<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust  </title>
</head>
<body>
    <h3>Details:</h3>
    <ul>
        <li>Title: <%= listing.name %></li>
        <li>Location: <%= listing.location %></li>
        <li>Country: <%= listing.country %></li>
        <li>Price: <%= listing.price.toLocaleString("en-In") %></li>
        <li>description: <%= listing.description %></li>
        <li>Amenities: <%= listing.amenities %></li>
    </ul>
    <a href="/listings/<%= listing._id %>/edit">edit listing</a>
    <br><br>

    <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
    <button>Delete</button></form>
</body>
</html>